
body{text-align: center;
	color: white;
	background-color: rgba(242, 242, 242, 0.54);
/*background-image: url("../img/space.jpg");*/
}

h1{font-family: 'Julius Sans One', sans-serif;
color: black;
}




.zod1 {
    display: inline-block;
    margin: 0 40px 0 0;
}

.zod2 {
    display: inline-block;
    margin: 0 40px 0 0;
}

.zod3 {
    display: inline-block;
    margin: 0 40px 0 0;
}



 figcaption h4{color: black;
 font-family: 'Poiret One', cursive;}

a{text-decoration: none;
font-size: 30px;}

a:visited{color: black;}

a:hover{background-color:#4ca6a6;
color: white; }

